.header {
    display: flex;
    position: relative;
}
h1{
    display: inline-block;
    font-size: 3em;
    margin-left: 20px;
}

.search-container{
    position: relative;
}
input{
    margin: 19% 7% 6% 11%;
    border-radius: 8px;
    font-size: 20px;
    border: solid #00000040;
    width: 80%;
}


label{
    position: absolute;
    left: 12%;
    top: 19%;
}



