.story-container{
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    background: #fff9cd;
    margin: 1%;
    padding: 3%;
    -webkit-box-shadow:0 0 100px #fff7a3;
    -moz-box-shadow: 0 0 100px #fff7a3;
    box-shadow: 0 0 100px #fff7a3;   
    vertical-align: top;
    width: 30%;

}

img{
    width: 100%;
    height: auto;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-continue-option {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup-continue-option h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup-continue-option .close {
    position: absolute;
    top: 9px;
    right: 14px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup-continue-option .close:hover {
    color: #06D85F;
  }
  .popup-continue-option .content {
    max-height: 30%;
    overflow: auto;
  }

.choice-btn {
	box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #fff9cd 5%, #fff9cd 100%);
    background-color: #eae0c2;
    border-radius: 8px;
    border: 2px solid #1e474252;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 13px;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
.choice-btn div:hover {
	background:linear-gradient(to bottom,#9edfc3 5%, #f8ffe4 100%);
	background-color:#9edfc3;
}
.choice-btn div:active {
	position:relative;
	top:1px;
}

     

