

<div class= 'story-container'>
    <h2> {{ story.title }} </h2> <span class='author'> By: {{ story.author }}</span>
    <img [src]="story.image"/>
    <h3> {{ story.text }} </h3> 
    <div> {{ story.pulse }} </div>

    <button *ngIf="story.choice_one; else elseBlock1">{{story.choice_one}}</button>
    <ng-template #elseBlock1><button>option1</button></ng-template>
    <button *ngIf="story.choice_two; else elseBlock2"> {{story.choice_two}}</button>
    <ng-template #elseBlock2><button>option2</button></ng-template>
</div>