

<div class= 'story-container'>
    <div *ngIf="!editing && story.text; else displayEditMode" >
        <h2> {{ story.title }} </h2> <span class='author'> By: {{ story.author }}</span>
        <img [src]="story.imageURL|| story.image"/>
        <h3> {{ story.text }} </h3> 
        <div> {{ story.pulse }} </div>
    
        <div class="choice-btn">
            <div (click)="makeChoice($event.target)" class="choice_one" value=story.choice_one.id> {{story.choice_one.text}}</div>
        
            <div (click)="makeChoice($event.target)" class="choice_two" value={{story.choice_two.id}}> {{story.choice_two.text}}</div>
        </div>
    </div>
    
    <ng-template #displayEditMode>
        <app-edit-story [parent]="story" [choice]="chosenChoice"></app-edit-story>
    </ng-template>

</div>