#not_loggedin{
    background: rgb(124,59,101);
    background: radial-gradient(circle, rgb(252 255 213) 0%, rgb(176 250 255) 100%);
    width: 300px;
    text-align: center;
    padding: 6%;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rajdhani', sans-serif; 
}

#not_loggedin h3{
    font-size: 3em;
    font-weight: bold;
}

#not_loggedin p{
    font-size: 2em;
}

.glow{
    -webkit-box-shadow:0 0 100px #fff694;
    -moz-box-shadow: 0 0 100px #fff694;
    box-shadow: 0 0 100px #fff694;
}

button#logout{
    border-radius: 50% 50% 55% 45% / 38% 39% 61% 62%;
    padding: 2% 3% 5% 3%;
    border: none;
    background: #2abcbb66;
    color: #ebfffe;
    width: 108px;
    font-size: 19px;
    height: 29px;
}

button#login{
    cursor: pointer;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 48%;
    height: 66px;
    padding: 2% 3% 5% 3%;
    border: none;
    background: #388584;
    color: #ebfffe;
    font-size: 1em;
}

button:hover{
    color: #c0fff8 !important;
    width: 45%;
    height: 45px;
    -webkit-box-shadow:0 0 100px #fff694;
    -moz-box-shadow: 0 0 100px #fff694;
    box-shadow: 0 0 100px #fff694;
    background: #388584;
    color: #ebfffe;
}

img{
    display: inline-block;
}

#uid{
    margin: 10% 5%;
}