#not_loggedin{
    background: rgb(124,59,101);
background: radial-gradient(circle, rgb(252 255 213) 0%, rgb(176 250 255) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 300px;
    text-align: center;
    padding: 6% 5% 8% 3%;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
   }

.glow{
    -webkit-box-shadow:0 0 100px #fff694;
    -moz-box-shadow: 0 0 100px #fff694;
    box-shadow: 0 0 100px #fff694;
}

button#logout{
    border-radius: 50% 50% 55% 45% / 38% 39% 61% 62%;
    padding: 2% 3% 5% 3%;
    border: none;
    background: #2abcbb66;
    color: #ebfffe;
    width: 108px;
    font-size: 19px;
    height: 29px;
}

button#login{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 40%;
    height: 40px;
    padding: 2% 3% 5% 3%;
    border: none;
    background: #388584;
    color: #ebfffe;
}

button:hover{
    color: #c0fff8 !important;
    width: 45%;
    height: 45px;
    -webkit-box-shadow:0 0 100px #fff694;
    -moz-box-shadow: 0 0 100px #fff694;
    box-shadow: 0 0 100px #fff694;
    background: #388584;
    color: #ebfffe;
}

img{
    display: inline-block;
}

#uid{
    margin: 10% 5%;
}