<div class="scaling-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox= "0 0 190 170">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <g>
        <title>background</title>
        <rect fill="#fff" id="canvas_background" height="350.87702" width="703.06952" y="-1" x="-1"/>
        </g>
        <g>
        <title>Layer 1</title>
        <ellipse (click) = "onCreateStory()" ry="50" rx="50" id="svg_1" cy="126.19457" cx="115.69565" stroke-width="3"/>
        <line (click) = "onCreateStory()" stroke-linecap="null" stroke-linejoin="null" id="svg_3" y2="155.81413" x2="115.69566" y1="96.57499" x1="115.69566" stroke-width="11" fill="none"/>
        <line (click) = "onCreateStory()" transform="rotate(90 115.69565582275392,126.19457244873047) " stroke-linecap="null" stroke-linejoin="null" id="svg_4" y2="156.90109" x2="115.69566" y1="95.48805" x1="115.69566" stroke-width="11" fill="none"/>
        </g>
    </svg>
</div>
