#create_story{

    width: 66px;
    height: 67px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 22%;
    color: #4b3142;
    text-shadow: 0 0 6px rgb(152 237 227 / 92%), 
                0 0 12px rgb(6 48 51 / 30%), 
                0 0 21px rgb(82 192 207 / 70%), 
                0 0 34px rgb(123 252 219 / 78%), 
                0 0 40px rgb(49 227 234 / 82%);
}

#create_story:hover{

    border-radius: 65%;
    -webkit-box-shadow:0 0 100px #fff7a3;
    -moz-box-shadow: 0 0 100px #fff7a3;
    box-shadow: 0 0 100px #fff7a3;

}
