#create_story{
    border-radius: 70% 62%;
    background-color: #eafffe;
    width: 66px;
    height: 67px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 22%;
    color: #0f786e;
    text-shadow: 0 0 6px rgb(152 237 227 / 92%), 
                0 0 12px rgb(6 48 51 / 30%), 
                0 0 21px rgb(82 192 207 / 70%), 
                0 0 34px rgb(123 252 219 / 78%), 
                0 0 40px rgb(49 227 234 / 82%);
}
