<div id="edit-sory-container">
    <h2> Add your story </h2>
    <h3> It will be saved to your bookmarks </h3>

    <label class="title">Add title</label>
    <input type="text" name="title" class="title">

   
    <label class="image">Upload an image</label>
    <input class="image" type="file" src="" alt="">

  
    <label class="content"> Content goes here</label>
    <textarea class="content" name="paragraph_text" cols="50" rows="10"></textarea>

    <label class="options">And then- either one of those options could happen</label>
    <input type="text" name="option1" id="option1">
    <input type="text" name="option2" id="option2">

    <input id="finish" type="button" value="Preview">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">

</div>